.project-header {
    font-size: 70px;
}

.project-container {
    margin: 5% 10%;
}

.project-container .img-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project-container .img-container img {
    width: 45%;
    height: auto;
}


.project-desc {
    margin-right: 5%;
    margin-bottom: 3%;
}

.tech-desc {
    margin-left: 20px;
}

.tech-desc div {
    margin-left: 20px;
}

.tech-desc-container {
    display: flex;
    align-items: flex-start;
}

@media only screen and (max-width: 1106px) {

    .project-container {
        margin: 5% 5%;
    }

    .project-container .img-container img {
        width: 45%;
    }
}

@media only screen and (max-width: 700px) {
    .project-container .img-container {
        flex-direction: column;
        align-items: center;
    }

    .project-container .img-container img {
        width: 70%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 450px) {
    .project-container {
        margin: 5% 3%;
    }

    .project-container .img-container img {
        width: 85%;
    }
}