.box {
    height: 100%;
    width: 7%;
    display: inline-block;
    top: 0%;
    vertical-align: top;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #EF476F;
}

.box > .stack {
    position: absolute; 
    left: 30%;

}

.box > .stack > .link {
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FDF4E3;
    margin-left: 20px;
}


.box > .stack > .link:hover {
    font-size: 17px;
}

.box > .stack > .headerProject {
    font-family: "Barlow Condensed", sans-serif;
    color: #FDF4E3;
    font-size: 16px;
    text-decoration: underline;
}

.header1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: .4em;
    color: #FDF4E3;
}

.headerBox {
    position: absolute;
    left: 0;
    text-align: center;
}

.headerBox > .icon {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FDF4E3;

}



