.sub_header {
    font-weight: 700;
}

.date {
    color: var(--blue);
}

.desc_container {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
}

.desc_container img {
    margin-top: 2px;
    margin-right: 15px;
}